[user]
	name = <Ghislain Rodrigues>
	email = <git@ghislain-rodrigues.fr>
[core]
	attributesfile = ~/.gitattributes
	editor = vim
	excludesfile = ~/.gitignore-global
[rerere]
	enabled = true
[alias]
	st = status
	co = checkout
	ba = branch -v -a
	ci = commit -v
	history = log --graph --pretty=format:'%Cred%h%C(yellow)%d %Creset- %s %Cgreen(%ad) %C(blue)<%an>%Creset' --date=relative
	svn-rebase = rebase --interactive --preserve-merges refs/remotes/git-svn
	diffc = diff --color-words=.
	diffw = "diff --color-words='([a-zA-Z_]+|[^a-zA-Z_\\s]+)'"
	review = "!sh -c 'git log -p --reverse $1..$2' -"
	review-full = "!sh -c 'git diff master..$1' -"
	show-merge = "!sh -c 'git log -p --reverse $1^..$1' -"
	show-merge-full = "!sh -c 'git diff $1^..$1' -"
	rework = "!sh -c 'git rebase --interactive $(git merge-base $1 HEAD) --autosquash --autostash --preserve-merges' -"
[color]
	status = auto
	pager = true
	diff = auto
	branch = auto
	ui = true
[color.diff]
	newMoved = magenta bold
	oldMoved = magenta bold
	# meta = 11
	frag = blue bold
	old = red
	new = green
	whitespace = red reverse
[diff]
	colorMoved = plain
[interactive]
	# needs a perl module, which can be installed by running as root:
	# cpan Term::ReadKey
	singleKey = yes
[push]
	default = current
[init]
	templatedir = ~/.git_template
[merge]
	tool = vimdiff
	conflictstyle = merge
[mergetool]
	prompt = false
[help]
	autocorrect = 1
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
