[user]
    name = <Ghislain Rodrigues>
    email = <git@ghislain-rodrigues.fr>
[core]
    editor = vim
[rerere]
    enabled = true
[alias]
    st = status
    co = checkout
    ba = branch -v -a
    slog = log --pretty=oneline
    nlog = log --name-status
    dlog = log -p
    ci = commit -v
    br = branch -v
    history = log --graph --pretty=format:'%Cred%h%Creset %d -%Cblue %s%Creset %Cgreen(%ar) %Cblue<%an>%Creset' --abbrev-commit --date=relative
    svn-rebase = rebase --interactive --preserve-merges refs/remotes/git-svn
[color]
    status = auto
    pager = true
    diff = auto
    branch = auto
[push]
    default = current
