! Use the following command to reload the file:
! xrdb .Xresources
! gsettings set org.gnome.desktop.interface gtk-theme "`xrescat gnome.gtk.theme Adwaita`"
! gsettings set org.gnome.desktop.wm.preferences theme "`xrescat gnome.wm.theme Adwaita`"
! gsettings set org.gnome.desktop.interface icon-theme "`xrescat gnome.icon.theme Adwaita`"

!-*- Settings -*-
URxvt.iso14755_52: disabled
URxvt.iso14755: disabled

!-*- Colors -*-
! Dark Grey
*color0: #2E3436
! Red Red
*color1: #FC4D44
! Green
*color2: #4E9A06
! Yellow
*color3: #C4A000
! Blue
*color4: #3465A4
! Purple
*color5: #75507B
! Orange
*color6: #F57900
! Light Grey
*color7: #BABDB9

! Dark Grey
*color8: #555753
! Red
*color9: #EF2929
! Pastel Green
*color10: #8AE234
! Pastel Yellow
*color11: #FCE94F
! Pastel Blue
*color12: #729FCF
! Pastel Purple
*color13: #AD7FA8
! Pastel Orange
*color14: #FCAF3E
! Pastel Grey
*color15: #EEEEEC

! Style
URxvt.foreground: white
URxvt.background: #151515

URxvt.scrollColor: #777777

! Font
URxvt.font: xft:Operator Mono Medium:size=12

! Set the scrollbar on the right
URxvt.scrollBar: true
URxvt.scrollBar_right: true

! Scrollback
URxvt.saveLines: 1000000

!-*- Perl extensions -*-
URxvt.perl-ext-common: default,font-size

!-*- Controls -*-

! Common Keybinds for Navigations
URxvt.keysym.Control-+: perl:font-size:increase
URxvt.keysym.Control--: perl:font-size:decrease
URxvt.keysym.Control-0: perl:font-size:reset
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D

! Clipboard
URxvt.clipboard.autocopy: true
URxvt.keysym.Control-Shift-c: perl:clipboard:copy
URxvt.keysym.Control-Shift-v: perl:clipboard:paste

! i3 conf
i3-wm.workspace.01.name: 1: Browser
i3-wm.workspace.02.name: 2: Code
i3-wm.workspace.03.name: 3: Communication
i3-wm.workspace.04.name: 4: Mail
i3-wm.workspace.05.name: 5
i3-wm.workspace.06.name: 6
i3-wm.workspace.07.name: 7
i3-wm.workspace.08.name: 8
i3-wm.workspace.09.name: 9
i3-wm.workspace.10.name: 10

#define icon_theme Faba

gnome.gtk.theme:          Dracula
gnome.wm.theme:           Dracula
gnome.icon.theme:         icon_theme
gnome.wallpaper:          ~/Pictures/background
gnome.terminal.font:      typeface_gnome_terminal
gnome.terminal.scrollbar: theme_terminal_scrollbar

! -- Applications
rofi.theme:                 ~/.config/rofi/dracula.rasi
rofi.font:                  Operator Mono Book 16
rofi.show-icons:            true
rofi.icon-theme:            icon_theme
rofi.drun-display-format:   {name}
rofi.window-format:         \ {n} {t}
rofi.modi:                  window,drun,run
